WEB3_HTTP_PROVIDER=https://eth-mainnet.alchemyapi.io/v2/<key>
WEB3_HTTP_PROVIDER_FTM_URL=https://rpc.ftm.io/
WEB3_HTTP_PROVIDER_FTM_USERNAME=foo
WEB3_HTTP_PROVIDER_FTM_PASSWORD=bar

WEB3_HTTP_PROVIDER_ARB=https://arb-mainnet.g.alchemy.com/v2/<key>
WEB3_HTTP_PROVIDER_OPT=https://opt-mainnet.g.alchemy.com/v2/<key>
REDIS_CONNECTION_STRING=redis://localhost:6379
API_MIGRATION_URL=https://api.yearn.finance
REQUEST_TIMEOUT=1000


REMOTE_WRITE=https://prometheus-prod-10-prod-us-central-0.grafana.net/api/prom/push
REMOTE_WRITE_PASSWORD=password1234
REMOTE_WRITE_USERNAME=316560

SENTRY_DSN=https://5a2d02dbdf524ff6b81e3ee414e2f079@o1135034.ingest.sentry.io/6183543
NODE_ENV=development

MAINNET_SUBGRAPH_ID=5xMSe3wTNLgFQqsAc5SCVVwT4MiRb5AogJCuSN9PjzXF
SUBGRAPH_API_KEY=